namespace: "companieshouse"
name: "infrastructure"
version: "{{ version }}"
readme: "README.md"
authors:
  - "nosagie"
description: "A collection comprising security Ansible roles and playbooks for use in Companies House projects"
license_file: "LICENSE"
tags:
  - pcplus_run_server_update
dependencies:
  "ansible.posix": ">=1.5.4"
  "community.hashi_vault": ">=6.2.0"

repository: "https://github.com/companieshouse/ansible-collection-infrastructure"
build_ignore:
  - templates
